.tablist {
  flex-basis: 240px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.ecko .articleNav, .ecko #form, hr {
  display: none !important;
}
